/* FONTS */

/* containers */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    

}

.core-values-container{
    display: flex;
    flex-flow: nowrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    /*flex-direction: row;*/

}

.box {

}